
.app-mount {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.app-container {
	position: relative;
	flex: 1 1 auto;
	z-index: auto;
}
.app {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--background-tertiary);
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--background-tertiary);
}
.layers {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	position: relative;
	overflow: hidden;
	min-width: 0;
	min-height: 0;
}
.layer {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background-color: var(--background-primary);
}

.sidebar-view {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--background-primary);
	z-index: 101;
}
.sidebar-view,
.sidebar-view * {
	box-sizing: border-box;
}
.sidebar-region {
	flex: 1 0 140px;
	z-index: 1;
}
.sidebar-region,
.sidebar-region .scroller {
	display: flex;
	justify-content: flex-end;
}
.sidebar-region .scroller {
	flex: 1 0 auto;
	flex-direction: row;
	align-items: flex-start;
	background: var(--background-secondary);
}
.sidebar {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 140px;
	padding: 60px 6px 60px 20px;
}
.content-region {
	display: flex;
	flex: 1 1 800px;
	align-items: flex-start;
	position: relative;
	background: var(--background-primary);
}
.content-region .scroller {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	position: static;
	height: 100%;
	background-color: var(--background-primary);
	overflow-x: hidden;
}
.content {
	flex: 1 1 auto;
	position: relative;
	padding: 60px 40px 80px;
	min-width: 460px;
	min-height: 100%;
}

.header {
	color: var(--header-primary);
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	margin: 4px 6px;
}

.addon-list {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fill,minmax(248px,1fr));
	padding: 10px 0;
}
.addon-card {
	display: flex;
	flex-direction: column;
	height: 320px;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	position: relative;
	transition: box-shadow .2s ease-out,transform .2s ease-out,background .2s ease-out,opacity .2s ease-in;
	cursor: pointer;
	background-color: var(--activity-card-background);
	box-shadow: var(--elevation-medium);
}
.theme-dark .addon-card {
	background-color: var(--background-secondary-alt);
}
.addon-card:focus,
.addon-card:hover {
	background-color: var(--background-tertiary);
	box-shadow: var(--elevation-high);
	transform: translateY(-1px);
}
.addon-header {
	height: 143px;
	position: relative;
	display: block;
	overflow: visible;
	margin-bottom: 32px;
}
.addon-image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity .2s,transform .2s ease-out;
	transform: scale(1);
	opacity: 0;
}
.addon-loaded .addon-image-wrapper {
	opacity: 1;
}
.addon-card:focus .addon-image-wrapper,
.addon-card:hover .addon-image-wrapper {
	transform: scale(1.01) translateZ(0);
}
.addon-image-wrapper,
.addon-image {
	width: 100%;
	height: 100%;
}
.addon-image {
	object-fit: cover;
}
.addon-icon-wrapper {
	position: absolute;
	bottom: -21px;
	left: 12px;
	padding: 4px;
	background-color: var(--activity-card-background);
	border-radius: 10px;
	transition: box-shadow .2s ease-out,transform .2s ease-out,background .2s ease-out;
}
.theme-dark .addon-icon-wrapper {
	background-color: var(--background-secondary-alt);
}
.addon-card:focus .addon-icon-wrapper,
.addon-card:hover .addon-icon-wrapper {
	background-color: var(--background-tertiary);
}
.addon-icon {
	border-radius: 10px;
	width: 48px;
	height: 48px;
}
.addon-info {
	display: flex;
	flex: 1 1 auto;
	position: relative;
	flex-direction: column;
	align-content: stretch;
	padding: 0 16px 16px;
	overflow: hidden;
}
.addon-title {
	display: flex;
	align-items: center;
	color: var(--header-primary);
	width: 100%;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}
.addon-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.addon-description {
	display: flex;
	flex: 1 1 auto;
	color: var(--header-secondary);
	overflow: hidden;
	margin: 4px 0 16px;
	font-size: 14px;
	line-height: 18px;
}
.addon-controls {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
}