.app-mount {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.app-container {
	position: relative;
	flex: 1 1 auto;
	z-index: auto;
}
.app {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--background-tertiary);
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--background-tertiary);
}
.layers {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	position: relative;
	overflow: hidden;
	min-width: 0;
	min-height: 0;
}
.layer {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background-color: var(--background-primary);
}

.modals {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: none;
	pointer-events: none;
	z-index: 1002;
}
.modal-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}
.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	pointer-events: auto;
}

.layer-items {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: none;
	pointer-events: none;
	z-index: 1003;
}
.layer-item {
	position: absolute;
	pointer-events: auto;
}
.layer-item-disabled {
	pointer-events: none;
}

@keyframes spinner-animation {
	25% {transform: translateX(22px) rotate(-90deg) scale(.5);}
	50% {transform: translateX(22px) translateY(22px) rotate(-180deg);}
	75% {transform: translateX(0) translateY(22px) rotate(-270deg) scale(.5);}
	to {transform: rotate(-1turn);}
}
.spinner-container {
	flex: 1 1 auto;
	width: 100%;
	height: 100%;
	min-height: 50px;
}
.spinner-container,
.spinner {
	display: flex;
	justify-content: center;
	align-items: center;
}
.spinner-inner {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	contain: paint;
}
.spinner-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background-color: var(--blurple);
	animation: spinner-animation 1.8s ease-in-out infinite;
	
}
.spinner-item:last-child {
	animation-delay:-.9s;
}

.scroller {
	flex: 1 1 auto;
	position: relative;
	box-sizing: border-box;
	min-height: 0;
	overflow-x: hidden;
}
.scroller.thin {
	scrollbar-width: thin;
}
.scroller.thin,
.scroller.thin.fade:hover {
	scrollbar-color: var(--scrollbar-thin-thumb) transparent;
}
.scroller.thin::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.scroller.thin::-webkit-scrollbar-track {
	border-color: transparent;
	background-color: transparent;
	border: 2px solid transparent;
}
.scroller.thin::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	border: 2px solid transparent;
	border-radius: 4px;
	background-color: var(--scrollbar-thin-thumb);
	min-height: 40px;
}
.scroller.thin::-webkit-scrollbar-corner {
	background-color: transparent;
}
.scroller.auto {
	scrollbar-width: auto;
}
.scroller.auto,
.scroller.auto.fade:hover {
	scrollbar-color: var(--scrollbar-auto-thumb) var(--scrollbar-auto-track);
}
.scroller.auto::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}
.scroller.auto::-webkit-scrollbar-track {
	background-color: var(--scrollbar-auto-track);
}
.scroller.auto::-webkit-scrollbar-thumb,
.scroller.auto::-webkit-scrollbar-track {
	border: 4px solid transparent;
	background-clip: padding-box;
	border-radius: 8px;
}
.scroller.auto::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-auto-thumb);
	min-height: 40px;
}
.scroller.auto::-webkit-scrollbar-corner {
	background-color: transparent;
}
.scroller.dark,
.scroller.dark.fade:hover {
	scrollbar-color: var(--scrollbar-dark-thumb) var(--scrollbar-dark-track);
}
.scroller.dark::-webkit-scrollbar-track {
	background-color: var(--scrollbar-dark-track);
}
.scroller.dark::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-dark-thumb);
}
.scroller.thin.dark,
.scroller.thin.dark.fade:hover {
	scrollbar-color: var(--scrollbar-dark-thumb) transparent;
}
.scroller.thin.dark::-webkit-scrollbar-track {
	background-color: transparent;
}
.scroller.none {
	scrollbar-width: none;
}
.scroller.none::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.scroller.fade {
	scrollbar-color: transparent transparent;
}
.scroller.fade::-webkit-scrollbar-thumb,
.scroller.fade::-webkit-scrollbar-track {
	visibility: hidden;
}
.scroller.fade:hover::-webkit-scrollbar-thumb,
.scroller.fade:hover::-webkit-scrollbar-track {
	visibility: visible;
}

.logo {
	text-transform: uppercase;
	font-family: Discord;
}
.logo .primary {
	color: var(--blurple);
	font-size: 26px;
}
.logo .secondary {
	font-size: 44px;
}

.sidebar-view {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--background-primary);
	z-index: 101;
}
.sidebar-view,
.sidebar-view * {
	box-sizing: border-box;
}
.sidebar-region {
	flex: 1 0 210px;
	flex-direction: column;
	background-color: var(--background-secondary);
	z-index: 1;
}
.sidebar-region,
.sidebar-scroller {
	display: flex;
	justify-content: flex-end;
}
.sidebar-scroller {
	flex: 1 1 auto;
	flex-direction: row;
	align-items: flex-start;
}
.sidebar,
.sidebar-header,
.sidebar-footer {
	display: flex;
	width: 210px;
}
.sidebar {
	flex: 1 1 auto;
	flex-direction: column;
	padding: 10px 6px 10px 20px;
}
.sidebar-header,
.sidebar-footer {
	flex: 0 1 auto;
	padding: 20px 6px 20px 20px;
}
.sidebar-header {
	align-items: flex-start;
}
.sidebar-footer {
	align-items: flex-end;
}
.content-region {
	display: flex;
	flex: 1 1 800px;
	align-items: flex-start;
	position: relative;
	background-color: var(--background-primary);
}
.content-scroller {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	position: static;
	height: 100%;
}
.content {
	flex: 1 1 auto;
	position: relative;
	padding: 40px 40px 80px;
	min-width: 460px;
	min-height: 100%;
}

.sidebar-title,
.sidebar-item {
	flex-shrink: 0;
	font-weight: 500;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 6px 10px;
}
.sidebar-title {
	color: var(--channels-default);
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
}
.sidebar-item {
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 3px;
	color: var(--interactive-normal);
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 2px;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;
}
.sidebar-item:hover {
	background-color: var(--background-modifier-hover);
}
.sidebar-item:active {
	background-color: var(--background-modifier-active);
}
.sidebar-item.selected,
.sidebar-item.selected:hover {
	background-color: var(--background-modifier-selected);
	color: var(--interactive-active);
	cursor: default;
}
.sidebar-separator {
	background-color: var(--background-modifier-accent);
	margin: 8px 10px;
	height: 1px;
}

.header {
	color: var(--header-primary);
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	margin: 4px 6px;
}
.divider {
	width: 100%;
	height: 1px;
	margin: 20px 0;
	border-top: thin solid var(--background-modifier-accent);
}

.addon-list {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fill,minmax(248px,1fr));
	padding: 10px 0;
}
.addon-card {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 320px;
	width: 100%;
	background-color: var(--activity-card-background);
	border-radius: 8px;
	box-shadow: var(--elevation-medium);
	overflow: hidden;
	transition: box-shadow .2s ease-out,transform .2s ease-out,background .2s ease-out,opacity .2s ease-in;
}
.theme-dark .addon-card {
	background-color: var(--background-secondary-alt);
}
.addon-card:focus,
.addon-card:hover {
	background-color: var(--background-tertiary);
	box-shadow: var(--elevation-high);
	transform: translateY(-1px);
}
.addon-header {
	height: 143px;
	position: relative;
	display: block;
	overflow: visible;
	margin-bottom: 32px;
}
.addon-cover-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(1);
	transition: transform .2s ease-out;
}
.addon-card:focus .addon-cover-wrapper,
.addon-card:hover .addon-cover-wrapper {
	transform: scale(1.01) translateZ(0);
}
.addon-cover-wrapper,
.addon-cover-placeholder,
.addon-cover {
	width: 100%;
	height: 100%;
}
.addon-cover-placeholder {
	background: url(https://mwittrien.github.io/_res/imgs/cardplaceholder.svg) center/cover no-repeat;
}
.addon-cover {
	object-fit: cover;
}
.addon-icon-wrapper {
	position: absolute;
	bottom: -21px;
	left: 12px;
	padding: 6px;
	background-color: var(--activity-card-background);
	border-radius: 10px;
	transition: box-shadow .2s ease-out,transform .2s ease-out,background .2s ease-out;
}
.theme-dark .addon-icon-wrapper {
	background-color: var(--background-secondary-alt);
}
.addon-card:focus .addon-icon-wrapper,
.addon-card:hover .addon-icon-wrapper {
	background-color: var(--background-tertiary);
}
.addon-header.has-screenshots {
	cursor: pointer;
}
.addon-screenshots {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 4px;
	right: 4px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	color: #bbb;
	width: 32px;
	height: 32px;
	opacity: 0;
	transition: color .17s ease, opacity .2s ease-out;
}
.addon-screenshots:hover {
	color: #ddd;
}
.addon-screenshots:active {
	color: #fff;
}
.addon-header:hover .addon-screenshots {
	opacity: 1;
}
.addon-icon {
	border-radius: 10px;
	width: 32px;
	height: 32px;
}
.addon-info {
	display: flex;
	flex: 1 1 auto;
	position: relative;
	flex-direction: column;
	align-content: stretch;
	padding: 0 16px 16px;
	overflow: hidden;
}
.addon-title {
	display: flex;
	align-items: center;
	color: var(--header-primary);
	width: 100%;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}
.addon-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.addon-description {
	display: flex;
	flex: 1 1 auto;
	color: var(--header-secondary);
	margin: 4px 0 16px;
	font-size: 14px;
	line-height: 18px;
}
.addon-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 auto;
}
.addon-links,
.addon-buttons {
	display: flex;
	align-items: center;
}
.addon-link,
.addon-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.addon-link {
	color: var(--interactive-normal);
	height: 24px;
	margin-right: 6px;
	transition: color .17s ease;
}
.addon-link:hover {
	color: var(--interactive-hover);
}
.addon-link:active {
	color: var(--interactive-active);
}
.addon-button {
	background-color: var(--blurple);
	color: #fff;
	border-radius: 3px;
	padding: 3px 6px;
	transition: background-color .17s ease;
}
.addon-button:hover {
	background-color: var(--blurple-hover);
}
.addon-button:active {
	background-color: var(--blurple-active);
}
.addon-button:first-of-type:not(:only-child) {
	border-radius: 3px 0 0 3px;
}
.addon-button:last-of-type:not(:only-child) {
	border-radius: 0 3px 3px 0;
}

.screenshots {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}
.screenshot {
	position: absolute;
	overflow: hidden;
	pointer-events: auto;
}
.screenshot.previous {
	right: 90%;
	cursor: pointer;
}
.screenshot.next {
	left: 90%;
	cursor: pointer;
}
.screenshot > img {
	width: 100%;
	height: 100%;
}

.theme-switch {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.theme-switch > * {
	margin: 0 4px !important;
}

.switch {
	display: block;
	flex: 0 0 auto;
	position: relative;
	background-color: #72767d;
	border-radius: 14px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
	width: 42px;
	height: 24px;
	margin-left: 10px;
	opacity: 1;
	overflow: hidden;
	user-select: none;
	transition: background .15s ease-in-out,box-shadow .15s ease-in-out,border .15s ease-in-out,opacity .15s ease-in-out;
}
.switch::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: 0;
	z-index: 0;
}
.switch::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	background-color: #fff;
	border-radius: 9px;
	width: 18px;
	height: 18px;
	margin: 3px;
	z-index: 1;
	transition: transform .15s ease-in-out,width .1s ease-in-out,left .1s ease-in-out;
}
.switch .switch-checkbox {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
}
.switch-checked {
	background-color: var(--blurple);
}
.switch-checked::after {
	transform: translate3d(18px,0,0);
}
.switch-disabled {
	opacity: 0.3;
	cursor: not-allowed;
}

.tooltip {
	box-shadow: var(--elevation-high);
	color: var(--text-normal);
	border-radius: 5px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	max-width: 190px;
	box-sizing: border-box;
	word-wrap: break-word;
	z-index: 1002;
	will-change: opacity, transform;
}
.tooltip-pointer {
	position: absolute;
	border: 5px solid transparent;
	width: 0;
	height: 0;
	margin-left: -5px;
}
.tooltip-content {
	padding: 8px 12px;
	overflow: hidden;
}
.tooltip-top {
	transform-origin: 50% 100%;
}
.tooltip-right {
	transform-origin: 0 50%;
}
.tooltip-bottom {
	transform-origin: 50% 0;
}
.tooltip-left {
	transform-origin: 100% 50%;
}
.tooltip-top .tooltip-pointer {
	top: 100%;
	left: 50%;
}
.tooltip-right .tooltip-pointer {
	right: 100%;
	top: 50%;
	border-left-width: 5px;
	transform: rotate(90deg);
}
.tooltip-bottom .tooltip-pointer {
	bottom: 100%;
	left: 50%;
	border-top-width: 5px;
	transform: rotate(180deg);
}
.tooltip-left .tooltip-pointer {
	left: 100%;
	top: 50%;
	border-right-width: 5px;
	transform: rotate(-90deg);
}
.tooltip-black {
	background-color: #000;
	color: #fff;
}
.tooltip-black .tooltip-pointer {
	border-top-color: #000;
}
.tooltip-primary {
	background-color: var(--background-floating);
}
.tooltip-primary .tooltip-pointer {
	border-top-color: var(--background-floating);
}
.tooltip-blurple {
	background-color: var(--blurple);
}
.tooltip-blurple .tooltip-pointer {
	border-top-color: var(--blurple);
}
.tooltip-red {
	background-color: var(--red);
}
.tooltip-red .tooltip-pointer {
	border-top-color: var(--red);
}
.tooltip-yellow {
	background-color: var(--yellow);
}
.tooltip-yellow .tooltip-pointer {
	border-top-color: var(--yellow);
}
.tooltip-green {
	background-color: var(--green);
}
.tooltip-green .tooltip-pointer {
	border-top-color: var(--green);
}